/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #f4f8f4;
  color: #222;
}

/* NAVBAR */
.navbar {
  background: #0d3b2e;
  color: white;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #7ed957;
}

/* HERO SECTION */
.hero {
  height: 90vh;
  background: url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854")
    no-repeat center center/cover;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: white;
  max-width: 700px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  line-height: 1.6;
}

/* PREDICTION SECTION */
.prediction-section {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h2 {
  margin-bottom: 30px;
  color: #0d3b2e;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
}

input:focus {
  outline: none;
  border-color: #0d3b2e;
}

/* BUTTON */
.btn {
  margin-top: 20px;
  padding: 12px;
  background: #0d3b2e;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #145c44;
}

/* RESULT */
.result-box {
  margin-top: 25px;
  padding: 20px;
  background: #e8f5e9;
  border-radius: 8px;
}

.result-box h3 {
  color: #0d3b2e;
  margin-bottom: 5px;
}

/* FOOTER */
.footer {
  background: #0d3b2e;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 32px;
  }

  .navbar {
    padding: 15px 20px;
  }

  .nav-links {
    gap: 15px;
  }
}

.recommendation-box {
  margin-top: 15px;
  padding: 15px;
  background: #e8f5e9;
  border-left: 5px solid green;
  border-radius: 10px;
}